.el-menu-item.is-active{background:#e3e1fc;border-right:3px solid #7367f0}
.el-button--primary:hover{-webkit-box-shadow:0 8px 25px -8px #7367f0;box-shadow:0 8px 25px -8px #7367f0}
.el-pagination button:hover:not(:disabled){color:#7367f0}
.el-pagination__sizes .el-input .el-input__inner:hover{border-color:#7367f0}
.el-pagination.is-background .el-pager li:not(.disabled):hover{color:#7367f0}
.el-pagination.is-background .el-pager li:not(.disabled).active{background-color:#7367f0}
.el-pager li:hover{color:#7367f0}
.el-pager li.active{color:#7367f0}
.el-dialog__headerbtn:focus .el-dialog__close,.el-dialog__headerbtn:hover .el-dialog__close{color:#7367f0}
.el-dropdown-menu__item:focus,.el-dropdown-menu__item:not(.is-disabled):hover{background-color:#f1f0fe;color:#8f85f3}
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title{border-bottom:2px solid #7367f0}
.el-menu--horizontal>.el-menu-item.is-active{border-bottom:2px solid #7367f0}
.el-menu-item:focus,.el-menu-item:hover{background-color:#f1f0fe}
.el-menu-item.is-active{color:#7367f0}
.el-submenu__title:focus,.el-submenu__title:hover{background-color:#f1f0fe}
.el-submenu__title:hover{background-color:#f1f0fe}
.el-submenu.is-active .el-submenu__title{border-bottom-color:#7367f0}
.el-radio-button__inner:hover{color:#7367f0}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{background-color:#7367f0;border-color:#7367f0;-webkit-box-shadow:-1px 0 0 0 #7367f0;box-shadow:-1px 0 0 0 #7367f0}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled){-webkit-box-shadow:0 0 2px 2px #7367f0;box-shadow:0 0 2px 2px #7367f0}
.el-switch__label.is-active{color:#7367f0}
.el-switch.is-checked .el-switch__core{border-color:#7367f0;background-color:#7367f0}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{color:#7367f0}
.el-select-dropdown__item.selected{color:#7367f0}
.el-select .el-input__inner:focus{border-color:#7367f0}
.el-select .el-input.is-focus .el-input__inner{border-color:#7367f0}
.el-table th>.cell.highlight{color:#7367f0}
.el-table .ascending .sort-caret.ascending{border-bottom-color:#7367f0}
.el-table .descending .sort-caret.descending{border-top-color:#7367f0}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{background-color:#f1f0fe}
.el-table__body tr.current-row>td{background-color:#f1f0fe}
.el-table-filter__list-item:hover{background-color:#f1f0fe;color:#8f85f3}
.el-table-filter__list-item.is-active{background-color:#7367f0}
.el-table-filter__bottom button:hover{color:#7367f0}
.el-date-table td.today span{color:#7367f0}
.el-date-table td.available:hover{color:#7367f0}
.el-date-table td.current:not(.disabled) span{background-color:#7367f0}
.el-date-table td.end-date span,.el-date-table td.start-date span{background-color:#7367f0}
.el-date-table td.selected span{background-color:#7367f0}
.el-month-table td.today .cell{color:#7367f0}
.el-month-table td .cell:hover{color:#7367f0}
.el-month-table td.end-date .cell,.el-month-table td.start-date .cell{background-color:#7367f0}
.el-month-table td.current:not(.disabled) .cell{color:#7367f0}
.el-year-table td.today .cell{color:#7367f0}
.el-year-table td .cell:hover,.el-year-table td.current:not(.disabled) .cell{color:#7367f0}
.el-date-picker__header-label.active,.el-date-picker__header-label:hover{color:#7367f0}
.time-select-item.selected:not(.disabled){color:#7367f0}
.el-range-editor.is-active,.el-range-editor.is-active:hover{border-color:#7367f0}
.el-picker-panel__shortcut:hover{color:#7367f0}
.el-picker-panel__shortcut.active{color:#7367f0}
.el-picker-panel__icon-btn:hover{color:#7367f0}
.el-time-spinner__arrow:hover{color:#7367f0}
.el-time-panel__btn.confirm{color:#7367f0}
.el-message-box__headerbtn:focus .el-message-box__close,.el-message-box__headerbtn:hover .el-message-box__close{color:#7367f0}
.el-breadcrumb__inner a:hover,.el-breadcrumb__inner.is-link:hover{color:#7367f0}
.el-tabs__active-bar{background-color:#7367f0}
.el-tabs__new-tab:hover{color:#7367f0}
.el-tabs__item:focus.is-active.is-focus:not(:active){-webkit-box-shadow:0 0 2px 2px #7367f0 inset;box-shadow:inset 0 0 2px 2px #7367f0}
.el-tabs__item.is-active{color:#7367f0}
.el-tabs__item:hover{color:#7367f0}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{color:#7367f0}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{color:#7367f0}
.el-tree__drop-indicator{background-color:#7367f0}
.el-tree-node.is-drop-inner>.el-tree-node__content .el-tree-node__label{background-color:#7367f0}
.el-input-number__decrease:hover,.el-input-number__increase:hover{color:#7367f0}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){border-color:#7367f0}
.el-slider__bar{background-color:#7367f0}
.el-slider__button{border:2px solid #7367f0}
.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__decrease,.el-slider.is-vertical.el-slider--with-input .el-slider__input:active .el-input-number__increase{border-color:#7367f0}
.el-loading-spinner .el-loading-text{color:#7367f0}
.el-loading-spinner .path{stroke:#7367f0}
.el-loading-spinner i{color:#7367f0}
.el-upload--picture-card:hover,.el-upload:focus{border-color:#7367f0;color:#7367f0}
.el-upload:focus .el-upload-dragger{border-color:#7367f0}
.el-upload-dragger .el-upload__text em{color:#7367f0}
.el-upload-dragger:hover{border-color:#7367f0}
.el-upload-dragger.is-dragover{border:2px dashed #7367f0}
.el-upload-list__item .el-icon-close-tip{color:#7367f0}
.el-upload-list__item.is-success .el-upload-list__item-name:focus,.el-upload-list__item.is-success .el-upload-list__item-name:hover{color:#7367f0}
.el-upload-list__item-delete:hover{color:#7367f0}
.el-progress-bar__inner{background-color:#7367f0}
.el-badge__content--primary{background-color:#7367f0}
.el-step__head.is-finish{color:#7367f0;border-color:#7367f0}
.el-step__title.is-finish{color:#7367f0}
.el-step__description.is-finish{color:#7367f0}
.el-collapse-item__header.focusing:focus:not(:hover){color:#7367f0}
.el-tag{background-color:#f1f0fe;border-color:#e3e1fc;color:#7367f0}
.el-tag.is-hit{border-color:#7367f0}
.el-tag .el-tag__close{color:#7367f0}
.el-tag .el-tag__close:hover{background-color:#7367f0}
.el-tag--dark{background-color:#7367f0}
.el-tag--dark,.el-tag--dark.is-hit{border-color:#7367f0}
.el-tag--dark .el-tag__close:hover{background-color:#8f85f3}
.el-tag--plain{border-color:#c7c2f9;color:#7367f0}
.el-tag--plain.is-hit{border-color:#7367f0}
.el-tag--plain .el-tag__close{color:#7367f0}
.el-tag--plain .el-tag__close:hover{background-color:#7367f0}
.el-cascader .el-input .el-input__inner:focus{border-color:#7367f0}
.el-cascader .el-input.is-focus .el-input__inner{border-color:#7367f0}
.el-cascader__suggestion-item.is-checked{color:#7367f0}
.el-color-predefine__color-selector.selected{-webkit-box-shadow:0 0 3px 2px #7367f0;box-shadow:0 0 3px 2px #7367f0}
.el-color-dropdown__btn:hover{color:#7367f0;border-color:#7367f0}
.el-color-dropdown__link-btn{color:#7367f0}
.el-color-dropdown__link-btn:hover{color:tint(#7367f0,20%)}
.el-textarea__inner:focus{border-color:#7367f0}
.el-input__inner:focus{border-color:#7367f0}
.el-input.is-active .el-input__inner{border-color:#7367f0}
.el-transfer__button{background-color:#7367f0}
.el-transfer-panel__item:hover{color:#7367f0}
.el-timeline-item__node--primary{background-color:#7367f0}
.el-link.is-underline:hover:after{border-bottom:1px solid #7367f0}
.el-link.el-link--default:hover{color:#7367f0}
.el-link.el-link--default:after{border-color:#7367f0}
.el-link.el-link--primary{color:#7367f0}
.el-link.el-link--primary:hover{color:#8f85f3}
.el-link.el-link--primary:after{border-color:#7367f0}
.el-link.el-link--primary.is-disabled{color:#b9b3f8}
.el-link.el-link--primary.is-underline:hover:after{border-color:#7367f0}
.el-button:focus.el-button--default:not(.is-plain):not(.el-button--primary),.el-button:hover.el-button--default:not(.is-plain):not(.el-button--primary){color:#7367f0;border-color:#d5d1fb;background-color:#f1f0fe}
.el-button:active.el-button--default:not(.is-plain):not(.el-button--primary){color:#685dd8;border-color:#685dd8}
.el-button.is-plain:focus.el-button--default,.el-button.is-plain:hover.el-button--default{border-color:#7367f0;color:#7367f0}
.el-button.is-active:not(.el-button--primary),.el-button.is-plain:active:not(.el-button--primary){border-color:#685dd8;color:#685dd8}
.el-button--primary{background-color:#7367f0;border-color:#7367f0}
.el-button--primary:focus,.el-button--primary:hover{background:#8f85f3;border-color:#8f85f3}
.el-button--primary.is-active,.el-button--primary:active{background:#685dd8;border-color:#685dd8}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{background-color:#b9b3f8;border-color:#b9b3f8}
.el-button--primary.is-plain{color:#7367f0;background:#f1f0fe;border-color:#c7c2f9}
.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover{background:#7367f0;border-color:#7367f0}
.el-button--primary.is-plain:active{background:#685dd8;border-color:#685dd8}
.el-button--primary.is-plain.is-disabled,.el-button--primary.is-plain.is-disabled:active,.el-button--primary.is-plain.is-disabled:focus,.el-button--primary.is-plain.is-disabled:hover{color:#aba4f6;background-color:#f1f0fe;border-color:#e3e1fc}
.el-button--text{color:#7367f0}
.el-button--text:focus,.el-button--text:hover{color:#8f85f3}
.el-button--text:active{color:#685dd8}
.el-calendar-table td.is-today{color:#7367f0}
.el-backtop{color:#7367f0}
.el-checkbox.is-bordered.is-checked{border-color:#7367f0}
.el-checkbox__input.is-checked .el-checkbox__inner{background-color:#7367f0;border-color:#7367f0}
.el-checkbox__input.is-checked+.el-checkbox__label{color:#7367f0}
.el-checkbox__input.is-focus .el-checkbox__inner{border-color:#7367f0}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color:#7367f0;border-color:#7367f0}
.el-checkbox__inner:hover{border-color:#7367f0}
.el-checkbox-button__inner:hover{color:#7367f0}
.el-checkbox-button.is-checked .el-checkbox-button__inner{background-color:#7367f0;border-color:#7367f0;-webkit-box-shadow:-1px 0 0 0 #aba4f6;box-shadow:-1px 0 0 0 #aba4f6}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner{border-left-color:#7367f0}
.el-checkbox-button.is-focus .el-checkbox-button__inner{border-color:#7367f0}
.el-radio.is-bordered.is-checked{border-color:#7367f0}
.el-radio__input.is-checked .el-radio__inner{border-color:#7367f0;background:#7367f0}
.el-radio__input.is-checked+.el-radio__label{color:#7367f0}
.el-radio__input.is-focus .el-radio__inner{border-color:#7367f0}
.el-radio__inner:hover{border-color:#7367f0}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner{-webkit-box-shadow:0 0 2px 2px #7367f0;box-shadow:0 0 2px 2px #7367f0}
.el-cascader-node.in-active-path,.el-cascader-node.is-active,.el-cascader-node.is-selectable.in-checked-path{color:#7367f0}
.login-wrap .right button[data-v-605a5bf3]{background-color:#7367f0}
footer a[data-v-59a773d3],footer i[data-v-59a773d3]{color:#7367f0}
footer a[data-v-59a773d3]:hover{text-shadow:3px 3px 20px #7367f0}